@use "../../abstracts" as *;

.routine-cover {
    display: flex;
    flex-direction: column;
    gap: $size-4;
    border-radius: $border-radius-1;

    &__content {
        border: 1px solid hsl(var(--neutral-950) / .2);
        border-radius: $border-radius-1;
        padding: $size-3;
    }

    &__media {
        position: relative;

        .badge {
            position: absolute;
            top: $size-3;
            left: $size-3;
        }
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;
    }

    &__badges {
        padding-block-end: $size-3;
    }

    &__header {
        .title {
            font-size: 15px;
            font-weight: 500;
            color: $color-neutral-950;
        }

        .summary {
            --summary-lines: 4;

            font-size: 14px;
            line-height: 1.4;

            block-size: calc(var(--summary-lines) * 1lh);

            display: -webkit-box;
            -webkit-box-orient: vertical;
            
            line-clamp: var(--summary-lines);
            -webkit-line-clamp: var(--summary-lines);

            overflow: hidden;

            mask-image: linear-gradient(
                to bottom,
                black 0,
                black calc(100% - 1lh),
                transparent calc(100% + 0.4lh)
            );

            -webkit-mask-image: linear-gradient(
                to bottom,
                black 0,
                black calc(100% - 1lh),
                transparent calc(100% + 0.4lh)
    );
        }
    }

    .button {
        margin-block-start: $size-4;
        background: transparent;
        border: 2px solid $color-neutral-950;
        color: $color-neutral-950;
        width: 100%;
        padding: $size-3;
        border-radius: $border-radius-2;

        svg {
            width: 18px;
            height: 18px;
        }

        &:hover {
            background-color: $color-neutral-900;
            color: $color-neutral-100;
        }
    }
}
