@use "../abstracts" as *;

.auth-page {
    min-height: 100dvh;

    &--centered {
        display: grid;
        place-items: center;
    }
}

.verify-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mq(large) {
        justify-content: flex-start;

        margin-block-start: $size-12;
    }

    &__header {
        text-align: center;

        p { padding-block: $size-4; }
    }

    &__actions {
        display: flex;
    }
}