@use '../abstracts/' as *;

.dialog-shell {
  border: 0;
  width: 100%;
  max-width: 400px;
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);

  &[data-variant="dark"] {
    background: $color-neutral-800;
    color: $color-neutral-100;

    .button[data-type="outline"] {
      color: $color-neutral-100;
      
      &:hover {
        color: $color-neutral-900;
      }
    }
  }

  &[data-variant="pattern-dialog"] {
    @include mq(medium) {
      max-width: 610px;
    }

    .pattern-dialog {
      &__content {
        display: flex;
        flex-direction: column;
        height: min(80vh, 42rem);

        .heading {
          margin-block-end: $size-6;

          .button[data-type="icon"] {
            margin-left: auto;
            margin-block-end: $size-6;
            color: $color-neutral-600;
          }
        }
      }

      &__list {
        flex: 1;
        min-height: 0;
        overflow-y: auto;

        // EL BOTON DE ARRIBA
        .button[data-type="outline"] {
          display: flex;
          flex-direction: column;
          gap: $size-1;
          width: 100%;

          &:hover {
            background-color: transparent;
            border: 1px solid;
            color: $color-neutral-900;
          }

          small { color: $color-neutral-700; }
        }

        .pattern-tabs {
          padding-block: $size-4 0;
          padding-inline-start: $size-3;
          display: flex;
          gap: $size-3;

          .button {
            &:hover {
              background-color: hsl(var(--neutral-300) / .8);
            }
          }
          
          .button.is-selected {
            background: $color-neutral-900;
            color: $color-neutral-50;
            border: 1px solid transparent;

            &:hover {
              background-color: hsl(var(--neutral-950) / .8);
            }
          }
        }
      }

      &__group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: $size-4;
        
        padding-block-start: 1rem;

        border-block-start: 1px solid hsl(var(--neutral-950) / .3);
      }

      // TODOS LOS BOTONES
      &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        border: 1px solid hsl(var(--neutral-950) / .3);
        gap: $size-1;
      }

      &__user-presets {
        grid-column: 1 / -1;
        
        display: flex;
        align-items: center;
        gap: $size-4;

        // NAME + METER
        .button {
          flex: 2;
          width: 80%;
          
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: $size-3;

          text-align: start;
        }

        .actions {
          flex: 1;
          width: 100%;

          display: flex;
          align-items: center;
          justify-content: center;
          gap: $size-2;
          
          .button[data-type="icon"] {
            border: 1px solid;

            padding-block: 1rem;
            
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .edit { color: hsl(221 83% 53%); }
          .delete { color: hsl(4 75% 55%); }
        }
      }
    }
  }
}