@use "../abstracts" as *;

.form {
  .form-group {
    display: grid;

    label {
      font-size: $form-label-font-size;
      color: $form-label-color;
    }
  }
}

.form-panel {
  display: grid;
  gap: $size-6;
  padding: $size-6;
}

label {
  color: $form-label-color;
  font-family: $form-label-font-family;
  font-weight: $form-label-font-weight;
  font-size: $form-label-font-size;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea,
select {
  font-size: $form-input-font-size;
  font-weight: $form-input-font-weight;
  color: $form-input-color;
  background-color: $form-input-background-color;
  padding: $form-input-padding;
  border: $form-input-border-default;
  border-radius: $form-input-border-radius;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

select {
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: $size-2;
  cursor: pointer;
}

::placeholder {
  color: $form-placeholder-color;
  font-weight: $form-placeholder-font-weight;
  font-family: $form-placeholder-font-family;
}

.radio-field {
    display: inline-flex;
    align-items: center;
    gap: $size-2;

    font-size: 13px;
    cursor: pointer;

    input {
        width: 16px;
        height: 16px;
        margin: 0;

        accent-color: $color-primary-500;
        cursor: pointer;
    }
}

/* NEW EXERCISE */
.new-exercise-form {
  display: flex;
  flex-direction: column;
  gap: $size-2;
  padding: $size-4;

  height: fit-content;

  .heading {
    .button {
      padding: 0;
      display: block;
      margin-left: auto;
      border: 1px solid transparent;
      background: transparent;
      color: $color-neutral-950;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .exercise-form-label {
    font-weight: 400;
    font-size: 14px;
  }

  .exercise-name-wrapper {
    margin-block: $size-4 $size-3;
    display: flex;
    align-items: center;
    gap: $size-4;

    .name {
      padding: $size-2;
      width: 100%;
      font-size: $font-size-300;      
      font-weight: normal;
      border: 1px solid $color-neutral-300;
    }
  }

  // COLUMNS
  .form-group {
    display: grid;
    gap: $size-4;

    &.fields {
      display: grid;
      grid-template-areas:
        "bpm"
        "settings";
      gap: $size-4;
    }
  }

  // BPM
  .exercise-bpm-wrapper {
    padding-block-end: $size-4;
    border-block-end: 1px solid hsl(var(--neutral-950) / .2);
    display: flex;
    align-items: center;
    gap: $size-4;

    .exercise-row__bpm {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      border-inline-end: 1px solid transparent;
    }
  }

  .exercise-settings {
    padding-block-start: $size-4;
    grid-area: settings;

    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    .exercise-type-wrapper,
    .exercise-time-signature-wrapper {
      display: flex;
      flex-direction: column;
      gap: $size-4;
      
      width: fit-content;
    }

    // TIMER DURATION
    .exercise-length-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: $size-4;
      
      .length-inputs {
        display: flex;
        align-items: center;
        gap: $size-2;
  
        .colon {
          font-weight: normal;
          text-align: center;
          margin-block-end: $size-6;
        }
      }
  
      .minutes,
      .seconds {
        justify-self: end;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $font-size-400;
  
        .picker-option { font-size: $font-size-400; }
        
        .unit {
          margin-inline-start: $size-1;
          font-weight: normal;
        }
      }
    }
  }

  .form-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-block-start: $size-8;
    width: 100%;
  }
}

/* AUTH */
.auth-form {
  width: min(100%, 30rem);

  &--top {
    @include mq(large) {
      margin-top: $size-8;
      margin-bottom: auto;
    }
  }

  .heading-3 {
    text-align: center;
  }
}

/* PROFILE */
.form-panel.profile-form {
  padding: 0;
}

.profile-form {
  width: min(100%, 45rem);
}

/* AUTH SEPARATOR */
.auth-separator {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 1rem 0;
  color: #777;
  font-size: 0.875rem;

  hr {
    flex: 1;
    margin: 0;
    border: 0;
    border-top: 1px solid hsl(var(--neutral-950) / .5);
  }
}

/* TRIAL */
.enable-trial {
  display: flex;
  justify-content: center;
  
  .badge {
    cursor: pointer;
  }
}