@use '../abstracts' as *;

.guest-bar {
    &__header {
        text-align: center;
        padding-block: $size-4 0;
        font-weight: 600;
    }

    .trial-mode-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $size-2;
        gap: $size-2;
        font-size: 14px;
        
        margin-block: $size-2;

        margin-inline: auto;
        width: calc(100% - 2rem);

        border-radius: $border-radius-1;
        border: 1px solid hsl(var(--neutral-950) / 0.4);

        .badge {
            text-decoration: none;
            
            &:hover {
                color: $color-primary-900;
            }
        }

        @include mq(large) {
            max-width: fit-content;
        }
    }
}