@use "../abstracts/" as *;

.loop-control {
    display: flex;
    flex-direction: column;

    .label { font-size: 14px; }

    &__toggle {
        margin-block-start: $size-2;

        display: inline-flex;
        align-items: center;

        border-radius: 999px;

        .option {
            border: 0;
            border-radius: 999px;
            padding: $size-1 $size-4;

            background-color: transparent;
            font-size: 13px;

            cursor: pointer;
            
            &:active {
                transform: scale(0.96);
            }

            &--active {
                color: $color-neutral-100;
                background-color: $color-neutral-900;
            }
        }
    }
}