@use "../abstracts" as *;

.nav {
  --flex-column-gap: #{$navigation-gap};
  list-style: none;
  font-family: $navigation-font-family;
  font-weight: $navigation-font-weight;

  display: flex;
  align-items: center;
  gap: $size-2;

  position: relative;

  .button {
    color: $color-neutral-50;
  }

  a {
    color: $navigation-color;
    font-size: 14px;
    text-decoration: $navigation-link-text-decoration;

    &:is(:hover, :focus) {
      color: $navigation-color-hover;
      text-decoration: underline;
    }
  }

  .pro-icon {
    display: block;
    box-sizing: content-box;
    flex: 0 0 16px;

    width: 16px;
    height: 16px;
    padding: 4px;

    background-color: red;
    border-radius: 50%;

    /* SUB EMOTE */
    &--monthly {
      color: white;
    }

    &--lifetime {
      background-color: $color-extra-400;
    }
  }
}