@use '../abstracts/' as *;

.profile-page {
    margin-block: $size-5;

    &__section {
        margin-block: $size-4 $size-8;

        .heading-3 {
            font-size: $font-size-300;
            padding-block-end: $size-4;
        }

        .profile-form {
            border: 1px solid hsl(var(--neutral-950) / .1 );
            border-radius: $border-radius-1;
            padding: $size-4;
        }
    }
}

.profile-link__pro-icon {
  display: block;
  box-sizing: content-box;
  flex: 0 0 16px;

  width: 16px;
  height: 16px;
  padding: 4px;

  color: white;
  background-color: red;
  border-radius: 50%;
}