@use "../abstracts" as *;

.site-header {
  color: $site-header-color;
  background-color: $site-header-background-color;
  padding: $site-header-padding;

  &__inner {
    display: flex;
    align-items: $site-header-alignment;
    justify-content: $site-header-jusitifcation-small-screens;

    .wordmark {
      text-transform: lowercase;
      text-decoration: none;
      color: hsl(var(--neutral-950) / 0.8);
      font-size: 24px;
      font-weight: 600;

      &:hover {
        color: $color-neutral-950;
      }
    }
  }
}