@use "../../abstracts" as *;
@use 'post';

.posts {
    margin-block: $size-8 $size-10;

    .lang {
        position: relative;

        display: flex;
        justify-content: flex-end;
        gap: $size-4;

        .button {
            padding: 4px;
            border: 1px solid hsl(var(--neutral-900) / .2);
            color: $color-neutral-600;
        }

        &__options {
            position: absolute;
            top: 28px;

            display: flex;
            flex-direction: column;
            gap: $size-3;
            font-size: 13px;
            font-weight: 500;

            width: 89px;

            text-align: center;

            background: $color-neutral-000;
            border-radius: $border-radius-1;
            padding: $size-3;
        }

        .option {
            text-decoration: none;
            text-transform: uppercase;
            color: $color-neutral-700;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__item {
        --pattern-color: #000;

        position: relative;
        isolation: isolate;
        overflow: hidden;

        margin-block: $size-6;

        display: flex;
        flex-direction: column;
        gap: $size-2;

        padding: $size-4;
        padding-block: $size-6;
        padding-inline-end: calc(#{$size-4} + 2rem);

        text-decoration: none;
        color: $color-neutral-900;

        border: 1px solid hsl(var(--neutral-900) / .2);
        border-radius: $border-radius-1;
        background-color: #fd5;

        @include mq(large) {
            padding-inline-end: calc(#{$size-4} + 3rem);
        }

        > :not(.posts__pattern) {
            position: relative;
            z-index: 1;
        }

        &:hover {
            --pattern-color: #0000;
            color: $color-neutral-900;
        }
    }

    &__pattern {
        position: absolute;
        z-index: 0;

        inset-block: 0;
        inset-inline-end: 0;

        width: 2rem;
        overflow: hidden;

        font-size: 4px;

        background-color: #fd5;
        pointer-events: none;

        @include mq(large) {
            width: 3rem;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;

            top: 50%;
            left: 50%;
            translate: -50% -50%;

            width: 300em;
            height: 300em;

            background:
                repeating-linear-gradient(
                    #0000 0 18em,
                    #000 0 20em
                ),
                conic-gradient(
                    at 1em 8em,
                    #0000 75%,
                    var(--pattern-color) 0
                )
                0 -5em / 2em 20em;

            transition: --pattern-color 800ms;
        }

        &::before {
            transform: skewY(-45deg);
        }

        &::after {
            transform:
                rotate(90deg)
                skewY(45deg)
                translate(.25em, 12em);
        }
    }
}

.post {
    @include post.styles;

    /* CUSTOM BLOCKS */
    &--cta {
        margin-block: $size-6 $size-3;

        border-radius: $border-radius-3;
        
        box-shadow: 0 1rem 2rem hsl(var(--neutral-900) / 0.08);

        padding: $size-4;

        background: linear-gradient(
            145deg,
            hsl(var(--accent-400) / .4),
            hsl(var(--accent-500)),
        );

        border: 1px solid color-mix(
            in srgb,
            $color-accent-500 35%,
            transparent
        );

        ul {
            margin-block: 0 $size-4;
        }

        h2 + p {
            margin-block-start: 0;
        }
        
        &__content {
            color: $color-neutral-900;
            font-size: 15px;
        }

        &__heading {
            font-size: 24px !important;
            font-weight: 600;

            color: $color-neutral-900 !important;

            padding-inline-start: $size-4;
            padding-block-end: $size-2;
        }

        &__benefits {
            margin: 0;
            padding: 0;
        }

        .button {
            width: 100%;
            padding-block: $size-3;
            font-weight: 500;
            color: $color-neutral-000;
            border: 2px solid transparent;
            background-color: $color-neutral-900;

            border-radius: $border-radius-2;

            margin-block-start: $size-2;

            @include mq(large) {
                width: 377px;

                display: flex;
                align-items: center;

                margin-inline: auto;
            }

            &:hover {
                background-color: $color-neutral-800;
            }
        }
    }

    &--soundcloud-embed {
        width: 100%;
        margin-block: 2rem;

        iframe {
            display: block;
            width: 100%;
            border: 0;
        }

        &.is-playlist {
            iframe {
                height: 300px;
            }
        }

        &.is-track {
            iframe {
                height: 166px;
            }
        }
    }
}