@use "../../abstracts" as *;
@use "sessions/timer";
@use "sessions/creative";
@use "exercises/exercise-row";
@use "exercises/routine";
@use "exercises/playlist";
@use "exercises/panel" as exercises-panel;

@mixin styles {
    &__panel {
        @include exercises-panel.styles;
        @include exercise-row.styles;
        @include routine.styles;
        @include playlist.styles;
        
        margin-block-start: $size-8;
        overflow-anchor: none;

        .tabs {
            padding: $size-4;
            display: flex;
            align-items: center;
            gap: $size-4;
            border: 1px solid $color-neutral-400;

            .is-active {
                border-block-end: $color-neutral-900;
                opacity: 1;
            }
        }

        .modes {
            margin-block-start: $size-4;
            padding-inline: $size-3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-block-end: $size-8;
            
            .header {
                display: flex;            
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: $size-3;

                h2 {
                    text-transform: uppercase;
                    color: $color-neutral-800;
                    opacity: .7;
                }
            }

            .recent-sessions {
                padding: $size-3;
                border: 1px solid $color-neutral-300;
                width: 100%;

                @include mq(extraLarge) {
                    width: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                &__list {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: $size-4;
                    flex-wrap: wrap;

                    .button[data-type="outline"] {
                        border: 1px solid $color-primary-300;
                        background: $color-primary-100;
                        color: $color-primary-900;
                    }

                    .duration-label { margin-inline-start: $size-2; }
                }

                .footer {
                    display: flex;
                    justify-content: center;
                    margin-block-start: $size-6;

                    @include mq(large) {
                        height: 100%;
                    }
                }
            }

            @include timer.styles;
            @include creative.styles;
        }

        .settings {
            margin-block: $size-4;
            padding-block-end: $size-8;
            display: flex;
            flex-direction: column;
            gap: $size-4;

            .setting-option { padding: $size-4; }

            .group {
                display: grid;
                gap: $size-3;
                border-block-end: 1px solid;
            }

            .auto-advance-field,
            .free-exercise-import-field {
                font-weight: normal;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: $size-2;
            }

            .select-click-profile {
                padding: $size-2;
                border: 1px solid $color-neutral-400;
                cursor: pointer;
                width: fit-content;
                font-size: 14px;
            }
        }
    }
}