@use "../../abstracts" as *;
@use "sessions/timer";
@use "sessions/creative";

@mixin styles {
    &__panel {
        margin-block-start: $size-8;
        overflow-anchor: none;

        .tabs {
            padding: $size-4;
            display: flex;
            align-items: center;
            gap: $size-4;
            border: 1px solid $color-neutral-400;

            .is-active {
                border-block-end: $color-neutral-900;
                opacity: 1;
            }
        }

        .modes {
            margin-block-start: $size-4;
            padding-inline: $size-3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-block-end: $size-8;
            
            .header {
                display: flex;            
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: $size-3;

                h2 {
                    text-transform: uppercase;
                    color: $color-neutral-800;
                    opacity: .7;
                }
    
                .mode-selector {
                    cursor: pointer;
                    border: 1px solid $color-neutral-500;
                }
            }

            .recent-sessions {
                padding: $size-3;
                border: 1px solid $color-neutral-300;
                width: 100%;

                @include mq(extraLarge) {
                    width: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                &__list {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: $size-4;
                    flex-wrap: wrap;

                    .button[data-type="outline"] {
                        border: 1px solid $color-primary-300;
                        background: $color-primary-100;
                        color: $color-primary-900;
                    }

                    .duration-label { margin-inline-start: $size-2; }
                }

                .footer {
                    display: flex;
                    justify-content: center;
                    margin-block-start: $size-6;

                    @include mq(large) {
                        height: 100%;
                    }
                }
            }

            @include timer.styles;
            @include creative.styles;
        }

        .exercises {
            margin-block-start: $size-4;

            &__list {
                .heading-bar {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: $size-4;
                    
                    margin: $size-3;
                    margin-block: $size-8;
                    
                    .button[data-type="icon-text"] {
                        padding: $size-3;
                        border: 1px solid $color-neutral-900;
                    }

                    @include mq(large) {
                        margin-inline-end: 0;
                        padding-inline-end: 0;
                    }
                }

                /* COMPACT */
                .exercise-layout {
                    display: grid;
                    grid-template-columns: 133px minmax(0, 1fr);

                    &.is-active {
                        background: $color-neutral-900;

                        .number-picker__control {
                            color: $color-neutral-200;
                        }
                    }

                    &__bpm {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: $font-size-400;

                        .picker-column {
                            border: 1px solid $color-neutral-400;
                        }
                    }

                    &__info {
                        display: flex;

                        .summary {
                            flex: 3;
                            padding: $size-2;

                            display: flex;
                            flex-direction: column;
                            gap: $size-2;

                            .name {
                                width: 100%;
                                padding: $size-1 $size-2;
                                color: $color-neutral-900;
                                font-size: $font-size-300;
                                font-weight: normal;
                                border: 1px solid $color-neutral-400;
                            }

                            .bottom {
                                display: flex;
                                align-items: center;
                                gap: $size-3;

                                .button {
                                    padding: 0;

                                    &:hover { border: 1px solid transparent; }
                                }

                                .timer {
                                    display: block;
                                    margin-left: auto;
                                    font-size: $font-size-300;

                                    &.is-counting {
                                        color: $color-neutral-200;
                                    }
                                }
                            }
                        }

                        .play-exercise {
                            flex: 1;

                            .button {
                                width: 100%;
                                height: 100%;
                                border-radius: 0;
                                display: grid;
                                place-items: center;
                                background: $color-primary-100;

                                &:hover, &:focus {
                                    background: $color-primary-400;
                                    border: 1px solid transparent;
                                }

                                &.is-active {
                                    background: $color-primary-400;
                                }
                            }
                        }
                    }
                }

                .total-exercises {
                    margin: $size-4;
                    padding-block: $size-4 $size-8;
                    text-align: center;
                    font-size: $font-size-300;
                    color: $color-neutral-600;
                }
            }

            .playlist-practice {
                margin-block-end: $size-10;

                &__empty {
                    margin: 1rem auto;
                    text-align: center;
                    color: hsl(var(--neutral-950) / 0.6);
                    font-size: 14px;
                }

                &__group {
                    margin-block-end: $size-6;
                    border-block-end: 1px solid $color-neutral-400;
                }
                
                &__heading {
                    font-weight: 600;
                    border-block-start: 1px solid $color-neutral-400;
                    padding: $size-4;
                    font-size: 15px;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .exercise-layout {
                    &__bpm {
                        font-weight: 500;
                        color: $color-neutral-700;
                    }

                    &__info {
                        .summary {
                            gap: 0;
                        
                            .exercise-name {
                                color: $color-neutral-700;
                                font-size: 14px;
                            }

                            .timer {
                                color: $color-neutral-500;
                            }
                        }
                    }

                    // ACTIVE STYLES
                    &.is-active {
                        .exercise-row__bpm,
                        .exercise-name,
                        .timer {
                            color: $color-neutral-200;
                        }
                    }
                }
            }
        }

        .settings {
            margin-block: $size-4;
            padding-block-end: $size-8;
            display: flex;
            flex-direction: column;
            gap: $size-4;

            .setting-option { padding: $size-4; }

            .group {
                display: grid;
                gap: $size-3;
                border-block-end: 1px solid;
            }

            .auto-advance-field {
                font-weight: normal;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: $size-2;
            }

            .select-click-profile {
                padding: $size-2;
                border: 1px solid $color-neutral-400;
                cursor: pointer;
                width: fit-content;
                font-size: 14px;
            }
        }
    }
}