@use "../../abstracts" as *;
@use 'met-main';
@use 'met-panel';

.main-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $size-4;
    margin-block: $size-6;
}

.metronome {
    @include met-main.styles;
    
    @include met-panel.styles;
}
