.traffic-breakdown {
    grid-area: breakdown;
    align-self: start;

    margin-block: 1.75rem;
    padding: 1rem;
    background: var(--color-neutral-900);
    border-radius: var(--radius-md);

    .traffic-breakdown__title { font-size: 14px; }

    .classification {
        min-width: 0;
        max-width: 100%;
        padding-block: 0.5rem;

        display: grid;
        grid-template-columns: repeat(4, max-content);
        gap: 2rem;

        overflow-x: auto;
        overscroll-behavior-inline: contain;
    }

    .classification__stat {
        min-width: max-content;
        
        .label {
            white-space: nowrap;
            font-size: 14px;
            color: var(--color-neutral-400);
        }

        .card-key {
            font-size: 24px;
            font-weight: 600;
        }
    }
}

@media (min-width: 1280px) {
    .traffic-breakdown {
        margin-block: 0;
    }
}