.session-entry {
    margin-block: 2rem 1rem;
    margin-inline: 1rem;
    
    padding: .75rem;
    padding-block-start: 0;

    border: 1px solid color-mix(in oklab, var(--color-neutral-700) 80%, transparent);
    border-radius: var(--radius-lg);

    background-color: color-mix(in oklab, var(--color-neutral-700) 25%, transparent);

    &:nth-of-type(even) {
        background-color: transparent;
    }
}

.chip-number {
    display: block;
    font-size: 13px;
    margin-block-start: 8px;
    
    color: var(--color-neutral-500);
}

.session-entry__header {
    .summary {
        display: flex;
        align-items: center;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: -.8rem;
            left: -.8rem;
            height: 1px;
            background-color: var(--color-neutral-700);
        }

        .badges {
            display: flex;
            align-items: center;
            gap: .8rem;
            padding: .75rem;
            padding-inline-start: 0;
        }

        .badge {
            display: inline-flex;
            align-items: center;
            border: 1px solid var(--color-neutral-700);
            border-radius: 0.375rem;
            font-size: 12px;
            padding: .2rem .4rem;
        }

        /* classifications */
        .badge--human-like {
            color: var(--color-success-50);
            border-color: var(--color-success-700);
            background: color-mix(in oklab, var(--color-success-700) 40%, transparent);
        }

        .badge--browser-like {
            color: var(--color-warning-400);
            border-color: var(--color-warning-700);
        }

        .badge--scanner {
            color: var(--color-danger-50);
            border-color: var(--color-danger-700);
            background: color-mix(in oklab, var(--color-danger-700) 40%, transparent);
        }

        .badge--internal {
            color: var(--color-blue-50);
            border-color: var(--color-blue-700);
            background: color-mix(in oklab, var(--color-blue-700) 40%, transparent);
        }

        .badge--unknown,
        .badge--neutral,
        .badge--ignored {
            color: var(--color-neutral-300);
        }

        /* risks */
        .badge--high,
        .badge--blocked {
            color: var(--color-danger-500);
            border-color: var(--color-danger-700);
        }

        .badge--clean {
            color: var(--color-success-500);
            border-color: var(--color-success-700);
        }

        .overview {
            margin-left: auto;
            font-size: 14px;
            color: var(--color-neutral-400);
        }
    }

    .ip {
        font-size: 20px;
        margin-block: 1rem;
        letter-spacing: -0.025em;
        font-variant-numeric: tabular-nums slashed-zero;
    }

    @media (min-width: 1280px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;

        .summary {
            grid-column: 1;
            grid-row: 1;
            align-self: end;

            .overview { margin-left: 0; }

            &::after { height: 0; }
        }

        .ip {
            grid-column: 1;
            grid-row: 2;
            margin: 0;
        }
    }
}

.session-entry__request-signals {
    .signals {
        .session-entry__section-title {
            text-transform: uppercase;
            font-size: 14px;
            border-block-end: 1px solid var(--color-neutral-700);
            padding-block-end: .4rem;
            color: var(--color-neutral-400);
            font-weight: 500;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-block: 0rem 1rem;

            .signal {
                display: flex;
                flex-direction: column;
                font-size: 14px;
                padding: .2rem;

                .label { color: var(--color-neutral-100); }

                .signal-value {
                    font-weight: 600;
                }
                
                .signal-value--success {
                    color: var(--color-success-400);
                }

                .signal-value--danger {
                    color: var(--color-danger-400);
                }

                .signal-value--neutral {
                    color: var(--color-neutral-400);
                }
            }
        }
    }

    @media (min-width: 1280px) {
        grid-column: 2;
        grid-row: 1 / span 2;

        .signals {
            width: fit-content;
            margin-inline-start: auto;
            
            .session-entry__section-title {
                border-color: transparent;
                padding-block: .7rem;
            }

            .grid {
                gap: 1rem;
                grid-template-columns: repeat(3, 90px);
                justify-content: end;

                .signal {
                    border-radius: var(--radius-md);
                    background: var(--color-neutral-950);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    padding: .5rem;
                }
            }
        }
    }
}

.session-entry__activity {
    display: flex;
    gap: .5rem;
    
    .item {
        padding: .3rem .2rem;
        border-radius: var(--radius-md);
        border: 1px solid var(--color-neutral-700);
        background: color-mix(in oklab, var(--color-neutral-600) 20%, transparent);
        font-size: 14px;

        @media (min-width: 1280px) {
            border: transparent;
            background: transparent;
        }

        .label {
            color: var(--color-neutral-400);
            padding-block-end: .4rem;
        }

        .datetime,
        .span {
            color: var(--color-neutral-100);
        }

        @media (min-width: 1280px) {
            .time,
            .timezone {
                display: block;
            }
        }
    }

    @media (min-width: 1280px) {
        gap: 2rem;
    }
}

.session-entry__tabs {
    margin-block: 1rem;

    .tab-btn {
        padding: .2rem .4rem;
        font-size: 12px;
        color: var(--color-sky-50);
        border-radius: var(--radius-md);
        transition: background-color 150ms ease-in-out;

        &:hover {
            background-color: color-mix(in oklab, var(--color-sky-400) 20%, transparent);
        }

        &.is-active {
            border-color: transparent;
            background-color: color-mix(in oklab, var(--color-sky-400) 60%, transparent);
        }
    }
}

.session-entry__product-usage {
    .product-session__header {
        font-size: 14px;

        .field {
            padding-block-end: .75rem;
        }

        .label {
            display: block;
            font-weight: 500;
            text-transform: uppercase;
            margin-block-end: .5rem;

            color: var(--color-neutral-400);
        }

        .value {
            border-radius: var(--radius-md);
            color: var(--color-neutral-50);
            background-color: var(--color-neutral-950);
            padding: .5rem;
        }
    }

    .event-entry {
        border: 1px solid var(--color-neutral-700);
        border-radius: var(--radius-sm);
        padding: .4rem;
        margin-block-end: 1rem;

        @media (min-width: 1280px) {
            border-color: transparent;
            position: relative;
            margin-block-end: 0;
            padding-block: 1rem;

            &::after {
                content: "";
                position: absolute;
                inset-inline: -.8rem;
                inset-block-end: 0;
                block-size: 1px;
                background-color: var(--color-neutral-700);
                pointer-events: none;
            } 
        }
    }

    .event-entry__header {
        font-size: 14px;
        padding-block: 0 .5rem;
        
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .event-entry__name { font-weight: 600; }

    .event-entry__stage { color: var(--color-neutral-400); }

    .event-entry__time { color: var(--color-neutral-400); }

    .event-entry__properties {
        background-color: var(--color-neutral-950);
        padding: .5rem;
    }

    .event-entry__property {
        display: flex;
        font-size: 14px;
        margin-block-end: .75rem;
        border-block-end: 1px solid var(--color-neutral-500);

        &:last-child { margin-block-end: 0; }

        .value {
            color: var(--color-neutral-400);
            margin-left: auto;
        }

        @media (min-width: 1280px) {
            border-color: transparent;
        }
    }
}

.session-entry__reason {
    margin-block: 1rem;

    background: var(--color-neutral-950);
    border-radius: var(--radius-md);
    padding: 1rem;

    .section-title {
        text-transform: uppercase;
        font-size: 14px;
        color: var(--color-neutral-400);
        font-weight: 500;
    }

    .reason-text {
        font-size: 14px;
    }
}

.session-entry__paths {
    .section-title {
        font-size: 14px;
        text-transform: uppercase;
        color: var(--color-neutral-400);
        margin-block-end: .3rem;
        font-weight: 500;
    }
    
    .session-entry__paths-section {
        border: 1px solid var(--color-neutral-600);
        border-radius: var(--radius-sm);

        padding-inline: .4rem;
        padding-block: .5rem 1rem;
        margin-block-end: 1rem;
    }

    .requested-paths-title,
    .sensitive-paths-title {
        font-size: 14px;
        text-transform: uppercase;
        color: var(--color-neutral-300);
        padding-block-end: .5rem;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        gap: .8rem;        
    }

    .value {
        font-size: 13px;
        padding: .2rem .4rem;
        
        color: var(--color-neutral-200);
        border: 1px solid var(--color-neutral-700);
        border-radius: var(--radius-sm);
        background: var(--color-neutral-800);
        transition: background-color 150ms ease-in-out;

        &:hover {
            background-color: color-mix(in oklab, var(--color-neutral-400) 30%, transparent);
        }
    }

    .session-entry__empty-message {
        font-size: 14px;
        color: var(--color-neutral-200);
    }

    @media (min-width: 1280px) {
        position: relative;
        
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1rem 2rem;


        &::after {
            content: "";
            position: absolute;
            right: calc(-.9rem + 1px);
            left: calc(-.9rem + 1px);
            bottom: 0;
            height: 1px;
            background-color: var(--color-neutral-700);
        }

        > .section-title {
            grid-column : 1/ -1;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                right: calc(-.9rem + 1px);
                left: calc(-.9rem + 1px);
                bottom: -10px;
                height: 1px;
                background-color: var(--color-neutral-700);
            }
        }

        .session-entry__paths-section {
            border-color: transparent;
            padding: 0;

            &:first-of-type {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    inset-inline-end: -1rem;
                    inset-block: -.8rem -1rem;
                    width: 1px;
                    background-color: var(--color-neutral-700);
                }
            }
        }

        .requested-paths-title,
        .sensitive-paths-title {
            font-size: 12px;
        }
    }
}

.session-entry__client {
    .section-title {
        text-transform: uppercase;
        font-size: 14px;
        color: var(--color-neutral-400);
        font-weight: 500;
    }

    .user-agent {
        font-size: 14px;
        color: var(--color-neutral-200);
    }

    @media (min-width: 1280px) {
        margin-block-start: .5rem;
    }
}

.sessions-results__empty {
    padding: 1rem;
    font-size: 15px;
}

.session-entry__empty-message { font-size: 15px; }