.traffic-snapshot {
    grid-area: snapshot;
    padding: 0.85rem;
    background: var(--color-neutral-900);
    border-radius: var(--radius-md);

    & .traffic-snapshot__generated-at {
        padding: .5rem;

        border: 1px solid var(--color-neutral-800);
        border-radius: var(--radius-md);

        .last-updated-title {
            padding-block-end: .5rem;
            font-size: 14px;
        }

        & .traffic-snapshot__timeframe {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            gap: .5rem;
            font-size: 14px;
            color: var(--color-neutral-400);

            @media (min-width: 1280px) {
                gap: 0;
                flex-wrap: nowrap;
                align-items: flex-start;
                flex-direction: column;
            }
        }

        .date {
            color: var(--color-neutral-200);
        }
    }

    & .traffic-snapshot__metrics {
        padding: 1rem 0;
        padding-block-end: 0;

        .traffic-overview-title {
            font-size: 14px;
            padding-block-end: 1rem;
        }

        .traffic-snapshot__group {
            margin-block: .8rem;
        }

        & .traffic-snapshot__metrics-shell {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 1rem;

            width: 100%;
            min-width: 0;
            padding: 1rem;

            border: 1px solid var(--color-neutral-800);
            border-radius: var(--radius-md);
            background: var(--color-neutral-950);

            @media (min-width: 1280px) {
                grid-template-columns: 1fr;
            }
        }

        & .traffic-snapshot__metric {
            .label {
                font-size: 14px;
                color: var(--color-neutral-400);
            }

            .metric {
                font-size: 24px;
                font-weight: 600;
            }
        }
    }
}