.traffic-snapshot {
    grid-area: snapshot;
    padding: 0.85rem;
    background: var(--color-neutral-900);
    border-radius: var(--radius-md);

    & .traffic-snapshot__generated-at {
        padding: 1rem;

        border: 1px solid var(--color-neutral-800);
        border-radius: var(--radius-md);
        background: var(--color-neutral-950);

        .last-updated-title {
            font-size: 14px;
            color: var(--color-neutral-500);
        }

        & .traffic-snapshot__timeframe {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            color: var(--color-neutral-300);
        }

        .date {
            color: var(--color-neutral-100);
        }
    }

    & .traffic-snapshot__metrics {
        padding: 1rem 0;
        padding-block-end: 0;

        .traffic-overview-title { font-size: 14px; }

        & .traffic-snapshot__metrics-shell {
            padding-inline: 0.2rem;

            display: flex;
            gap: 1rem;
            max-width: 100%;
            min-width: 0;
            overflow-x: auto;
            padding-block-end: 0.5rem;
            overscroll-behavior-inline: contain;
        }

        & .traffic-snapshot__metric {
            flex: 0 0 6.5rem;
            margin-block: 0.85rem;

            .label {
                font-size: 14px;
                color: var(--color-neutral-400);
            }

            .metric {
                font-size: 24px;
                font-weight: 600;
            }
        }
    }
}

@media (min-width: 1280px) {
    .traffic-snapshot {
        & .traffic-snapshot__metrics {
            margin-inline: 1rem;

            & .traffic-snapshot__metrics-shell {
                flex-direction: column;
                margin-block-start: 1rem;

                .traffic-snapshot__metric {
                    margin-block: .2rem;
                    
                    flex: 0 0 auto;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}