@use '../abstracts/' as *;

.badge {
    display: inline-flex;
    align-items: center;
    gap: .35em;
    padding: $size-2;
    border-radius: $border-radius-1;
    line-height: 1;
    font-weight: 500;
    white-space: nowrap;
    width: fit-content;
    background: $color-secondary-50;
    border: 1px solid $color-secondary-200;
    color: $color-secondary-900;
    font-size: 14px !important;
    text-transform: uppercase;

    svg, img { width: 1em; height: 1em; }
}