@use '../abstracts/' as *;

.badge {
    display: inline-flex;
    align-items: center;
    gap: .35em;
    padding: $size-2;
    border-radius: $border-radius-1;
    line-height: 1;
    font-weight: 500;
    white-space: nowrap;
    width: fit-content;
    background: hsl(var(--extra-500) / .1);
    border: 1px solid $color-extra-500;
    color: $color-extra-900;
    font-size: 12px !important;
    text-transform: uppercase;

    svg, img { width: 1em; height: 1em; }

    &--manage {
        background: hsl(var(--primary-200) / .4);
        border-color: $color-primary-200;
        color: $color-primary-900;
        cursor: pointer;
    }

    &--starter-routine {
        color: $color-secondary-900;
        background-color: hsl(var(--secondary-200) / .2);
        border: 1px solid $color-secondary-400;
    }

    &--trial-register,
    &--verification-resent {
        color: $color-primary-900;
        background-color: hsl(var(--primary-200) / .2);
        border: 1px solid $color-primary-400;
    }

    &--error {
        background: oklch(57.7% 0.245 27.325);
        color: oklch(97.1% 0.013 17.38);
        border-color: oklch(70.4% 0.191 22.216);
    }

    // PULSE EDITOR
    &--group-beat-a {
        --group-border-color: #{$color-primary-400};

        background: hsl(var(--primary-400) / .1);
        border: 1px solid var(--group-border-color);
        color: $color-primary-900;
    }

    &--group-beat-b {
        --group-border-color: #{$color-secondary-400};

        background: hsl(var(--secondary-400) / .1);
        border: 1px solid var(--group-border-color);
        color: $color-secondary-900;
    }

    &--group-beat-c {
        --group-border-color: #{$color-accent-400};

        background: hsl(var(--accent-400) / .1);
        border: 1px solid var(--group-border-color);
        color: $color-accent-900;
    }

    &--group-beat-d {
        --group-border-color: #{$color-extra-400};

        background: hsl(var(--extra-400) / .1);
        border: 1px solid var(--group-border-color);
        color: $color-extra-900;
    }

    // ROUTINES
    &--routine-type {
        background: hsl(var(--secondary-400) / .1);
        border: 1px solid hsl(var(--secondary-300));
        color: $color-secondary-900;
    }

    &--routine-instrument {
        background: hsl(var(--primary-400) / .1);
        border: 1px solid hsl(var(--primary-300));
        color: $color-primary-900;
    }

    &--routine-difficulty {
        background: hsl(var(--accent-400) / .1);
        border: 1px solid hsl(var(--accent-300));
        color: $color-accent-900;
    }
}