@use '../abstracts' as *;

.tooltip {
    position: relative;
    cursor: help;

    &::after {
        content: attr(aria-label);
        position: absolute;

        left: 50%;
        bottom: calc(100% + 2px);
        transform: translateX(-50%);

        background: $color-accent-400;
        padding: $size-3;
        border-radius: $border-radius-1;
        opacity: 0;
        width: 120px;
        font-size: $font-size-300;
        z-index: 100;
        pointer-events: none;
        display: none;

        @include mq(large) {
            display: block;
        }
    }

    &:hover::after,
    &:focus-visible::after {
        opacity: 1;
    }
}